* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

body>div {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

div.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.body h1 {
  margin-bottom: 10px;
}

div.body p:not(:last-of-type) {
  margin-bottom: 10px;
}

.confirm {
  font-family: 'nanumsquare', sans-serif;
  font-size: 15px;
  line-height: 45px;
  border: none;
  background-color: #d7e6ff;
  font-size: 20px;
  width: 100%;
}

.confirm:hover {
  background-color: #acccff;
  color: #ffffff;
  cursor: pointer;
}