/* ==================== 전체 레이아웃 ==================== */
main {
  width: 900px;
  color: var(--black-3);
}

main h2 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
  font-weight: 700;
  font-size: 2rem;
}

main .sc-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: center;
}

.sc-container section {
  width: 100%;
  margin-right: 0;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 1px solid #33333330;
  display: flex;
  flex-direction: column;
}

.sc-container section h3 {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 20px;
}

.sc-container section h3.underline {
  border-bottom: 1px solid #33333330;
  margin-bottom: 20px;
}

.sc-container aside {
  text-align: center;
}

.sc-container aside a {
  display: block;
  width: 150px;
  text-align: left;
  color: var(--black-3);
}

.sc-container aside a:hover {
  text-decoration: underline;
  color: var(--black-2);
}

.sc-container aside li:not(:last-child) a {
  margin-bottom: 10px;
}

/* ==================== 가이드, 질문 ==================== */
.col1 {
  width: 100px;
  line-height: 20px;
  ;
}

.col2 {
  width: 200px;
}

.col3 {
  width: 400px;
}

#QAList {
  width: 100%;
  margin: 0 0 20px 0;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border-top: 1px solid #3c3c3c;
  line-height: 40px;
}

.sc-container section .toggle_Q .guide_content,
.sc-container section .toggle_Q .QA_content,
.sc-container section .toggle_Q .notice_content {
  text-align: left;
}

.sc-container section .toggle_A {
  display: none;
  text-align: justify;
  word-break: break-all;
  width: 100%;
  /* content: '\f106'; */
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
}

.sc-container section .toggle_A div {
  width: 100%;
}

.sc-container section .toggle_Q,
thead tr {
  background-color: var(--white-f);
  padding: 10px;
  border-bottom: 1px solid #333333;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  margin-right: 10px;
  text-align: center;
}

.sc-container section .guide_q_title::before,
.sc-container section .toggle_Q .notice_content::before {
  /* content: '\f2c4';  q마크왜 안될까나*/
  content: '\f00c';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  margin: 0 10px;
}


.sc-container section .QA_a_content {
  margin-top: 30px;
}

.sc-container section .QA_a_content::before {
  content: '\f031';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
  color: lightskyblue;
}

.sc-container section .QA_q_title::before,
.sc-container section .QA_q_content::before {
  content: '\f059';
  font-family: 'Font Awesome 5 Free', sans-serif;
  font-weight: 900;
}

.sc-container section .guide_q_a,
.sc-container section .QA_q_a,
.sc-container section .notice_a {
  padding: 20px;
  background-color: var(--white-f9);
  border-bottom: 1px solid #333333;
}

.sc-container section .toggle_A.open {
  display: table-row;
  /* table의 경우 display:none -> 변경 시 colsapn이 안먹힌다... */
  content: '\f107';
  font-family: 'Font Awesome 5 Free', sans-serif;
  word-break: break-all;
  text-align: justify;
  font-weight: 900;
  width: 100%;
  /* right: 20px;
  top: 50%;
  transform: translateY(-50%); */
}

/* ==================== 1:1 문의 ==================== */
.sc-container form label {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.sc-container form input[type="text"],
.sc-container form input[type="email"] {
  all: unset;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.2rem;
  background-color: var(--white-f9);
  color: #333333;
  margin-bottom: 10px;
  align-self: stretch;
}

.sc-container form input[type="text"]:focus,
.sc-container form input[type="email"]:focus,
.sc-container form select:focus,
.sc-container form textarea:focus {
  border-bottom: 2px solid var(--c-point-h);
  outline: none;
}

.sc-container form select {
  all: unset;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  appearance: auto;
  background-color: var(--white-f9);
  font-size: 1.2rem;
  color: #333333;
  margin-bottom: 10px;
}

.sc-container form textarea {
  all: unset;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-color: var(--white-f9);
  color: #333333;
}

.sc-container form .file-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.sc-container form .file-upload input {
  flex: 3;
  margin-bottom: 0;
}

.sc-container form .file-upload label {
  all: unset;
  margin-left: 10px;
  background-color: var(--c-point);
  color: var(--black-3);
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  flex: 1;
}

.sc-container form button {
  all: unset;
  font-size: 1.2rem;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: center;
  background-color: var(--c-point);
  color: var(--black-3);
  cursor: pointer;
}

.sc-container form button:hover,
.sc-container form .file-upload label:hover {
  background-color: var(--c-point-h);
  color: var(--white-f);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* lsj 추가 _ 문의 내용에 대한 추가 사항 */
.sc-container>section strong {
  font-weight: bold;
}



/* ==================== 찾아오는 길 ==================== */
#mapList {
  display: flex;
  gap: 10px;
  position: absolute;
  z-index: 2;
}

#naver {
  text-indent: -9999px;
  background: url('../community/visit/img/naver.png') center/100% 100% no-repeat;
  width: 40px;
  height: 40px;
}

#google {
  text-indent: -9999px;
  background: url('../community/visit/img/google.png') center/100% 100% no-repeat;
  width: 40px;
  height: 40px;
}

.map_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#mapping_naver,
#mapping_google {
  width: 100%;
  height: 400px;
  position: relative;
}

#customoverlay {
  width: 50px;
  line-height: 40px;
  text-align: center;
  color: black;
}

.title_map {
  display: block;
  background: url('../community/visit/img/marker.png') center/100% 100% no-repeat;
  width: 70px;
  height: 70px;
  line-height: 60px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  /* color:black; */

}

/* ================= */
div.visit-info p {
  display: block;
  font-size: 1.2rem;
}

div.visit-info p:not(:last-of-type) {
  margin-bottom: 10px;
}

div.visit-info p span {
  display: block;
  width: 80px;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 5px;
  background-color: var(--c-point);
  color: var(--black-3);
}

.hidden {
  display: none;
}

div.visit-map {
  display: block;
  width: 700px;
  height: 450px;
  /* box-sizing: border-box; */
  border: 5px solid var(--c-point);
  margin-bottom: 50px;
}

div.visit-info p {
  display: block;
  font-size: 1.2rem;
}

div.visit-info p:not(:last-of-type) {
  margin-bottom: 10px;
}

div.visit-info p span {
  display: block;
  width: 80px;
  text-align: center;
  padding: 0 5px;
  margin-bottom: 5px;
  background-color: var(--c-point);
  color: var(--black-3);
}

/*Review===================================================*/

.review_container {
  width: 100%;
  height: 600px;
  text-align: center;
  box-sizing: border-box;

}

.review_box {
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  flex-wrap: wrap;
}

.review {
  width: 214px;
  height: 400px;
  /* border:#3c3c3c 1px solid; */
}

.review_container .review img {
  width: 214px;
  height: 237px;
}


.review_container .review ul {
  display: flex;
  flex-direction: column;
  /* gap:3px; */
  border: 1px solid var(--white-d);
}

.review_container .review ul li:nth-child(1) {
  padding: 0;
  height: 240px;
}

.review_container .review ul li:nth-child(2) {
  height: 45.8px;
  padding: 5px 0;
}

.review_container .review ul li:nth-child(3),
.review_container .review ul li:nth-child(4) {
  height: 40px;
}

.review_container .review .comment {
  width: 36px;
  height: 36px;
  margin: 0 3px;
}

/* 리뷰 사진 */
.review_container .review_recent {
  display: flex;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid var(--white-d);
  padding: 5px 0;
}

.review_container .review_recent div:nth-child(2) {
  width: 172px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

}

/* 리뷰 코멘트 */

.review_container .productName {
  border-bottom: 1px solid var(--white-d);
}


.review a {
  color: black;
  text-decoration: none;
}